{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'main/img/pet.png' %}">
    <title>Add Pet</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/add.css' %}">
</head>
<body>
    <div class="container">
        <h1>Pet</h1>
        
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Pet Name" required>
            <input type="text" name="species" placeholder="Species" required>
            <input type="text" name="breed" placeholder="Breed" required>
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button type="submit" class="btn btn-save">{% if pet %}Update{% else %}Create{% endif %}</button>
            <a href="{% url 'user_dashboard' %}" class="btn btn-cancel">Cancel</a>
        </form>

    </div>

    <script src="{% static 'main/js/addpet.js' %}"></script>
</body>
</html>
